<!DOCTYPE html>
<html lang="en">

<head>
    <title>index.html</title>
    <link rel="stylesheet" href="static/style.css" />
</head>

<body>
    <h1>Boggle</h1>
    <container class="game-board">
        <table>
        {% for row in session["board"] %}
        <tr>
            {% for ltr in row %}
                <td>{{ltr}}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    <form class="words-form">
        <label for="word-input">See a word?</label>
        <input type="text" name="word-input" id="word-input">
        <input type="submit" value="Go!">
    </form>
    <div id="word-status"></div>
    <ul class="found-words"></ul>
    </container>
    
    <script src="https://unpkg.com/axios/dist/axios.js"></script>
    <script src="static/app.js"></script>
</body>

</html>